.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1570039486851-9caa462a2cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color:whitesmoke;
    /* font-family: 'Montserrat', sans-serif; */
    
}
.display-4{
    padding: 1em;
}
.lead{
    padding-bottom:0.8em;
}
#project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:0.5em;
    margin-top: 5em;
    margin-bottom: 12em;
}
#about-section{
    margin-top: 15em;
    background-color: #2d545e;
    color:whitesmoke;
}
.media{
    margin-top: 1em;
    margin-bottom: 15em;
    padding: 0em 3em;
}
.icons img:hover{
    opacity: .5;

}
h3{
    text-align: center;
}
#contact-form{
    padding: 1em;
    background-color: #2d545e;
    color:whitesmoke;
}
.footer{
    padding-top: 3em;
    color:#12343b;
    text-align:center;
}
#about-section p{
    word-spacing: 6px;
    line-height: 3em;

}
#aboutphoto{
   border:6px solid black;
   
}
 h3{
    padding:3em;
}
 body{
    background-color: #c89666;
    font-family: 'Montserrat', sans-serif;
} 
#project-name{
    color:#12343b;
}
.resume{
    background-color: #12343b;
  border-color: #2d545e;
  
}
.resume:hover{
    background-color: #2d545e;
  border-color: #12343b;
}
.resume-download{
    display: flex;
    justify-content: center;
    margin-top: 10em;
}