@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

.jumbotron {
    background: url(assets/portfoliobRound.webp) center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    color: #379683;
    height: 100vh;
    text-align: right;
    font-family: 'Sriracha', cursive;
    text-shadow: 1px 3px #05386B;



}

body {
    color: #5CDB95;
    background-color: #05386B;
}

.contact {
    padding: 40px 40px;
}

.contactMain {
    text-align: center;
}

.media-body {
    padding-left: 50px;
    padding-right: 50px;
}





h2 {

    text-shadow: 0px 2px 3px black;
    border-bottom: 5px dotted #379683;
    text-align: center;

    font-family: 'Modak', cursive;

}

#me {
    padding: 3px;
    border: 1px solid #5CDB95;
    background-color: #379683;

}

form {
    background: url(Pics/portfoliobRound.webp) bottom;
}


.skills img {
    height: 7rem;
    width: auto;
    margin: 2.5rem;


}

.skills {
    display: flex;
    align-items: center;
    background-color: #5CDB95;
    text-align: center;
}

.contactme {
    display: flex;
    justify-content: center;
}
#form_email{
    background-color: lightgrey;
    
}
#form_message{
    background-color: lightgrey;
}
#form_name{
    background-color: lightgrey;

}
.icons img:hover{
    opacity: .5;

}
.icons img{
    border: 2px solid black;
    border-radius: 10px;
}
.skills{
    display :flex ;
    justify-content: center;
}
#footer{
    display: flex;
    justify-content: center;
}
.row  img:hover{
    opacity: .5;
}